.messagebody {
    display: table;
    width: 100%;
}

.outgoing {
    color: #222222;
}

.incoming {
    color: #666666;
}

.incoming, .outgoing, .status {
    display: table-row;
}

.sender, .message, .timestamp {
    display: table-cell;
}

.sender {
    text-align: right;
    font-weight: bold;
    white-space: nowrap;
    width: 1%;
}

.message {
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

.timestamp {
    font-size: 70%;
    text-align: right;
    float: right;
}

.status {
    font-size: 80%;
    color: #888888;
}
